<section class="container">
    <article class="border p-4">
      <%= button_to 'Invite', invite_user_event_path(id: 1, user_id: @user.id), method: :post %>
      <span>User: <b><%= @user.email %></b></span><br/>
      <div class="d-flex flex-column gap-2 p-3 border border-2">
        Future Events:
        <% @user.attendeed_events.future.each do |event| %>
        <span class="border p-2">
          Event: <%= event.title %><br/>
          Date: <span><%= event.date_time %></span>
        </span>
        <% end %>
      </div>
      <div class="d-flex flex-column gap-2 mt-2 p-3 border border-2">
        Past Events:
        <% @user.attendeed_events.past.each do |event| %>
        <span class="border p-2">
          Event: <%= event.title %><br/>
          Date: <span class="text-decoration-line-through"><%= event.date_time %></span>
        </span>
        <% end %>
      </div>

    </article>
</section>
