<%= render partial: 'shared/header' %>
<section class="container mt-5 d-flex flex-column">
    <article class="card my-2">
      <div class="card-header">Profile</div>
      <div class="card-body">
        <span class="card-text">Email: <%= @user.email %></span>
      </div>
    </article>

    <article class="card mt-4">
      <div class="card-header">Mail Box:</div>
      <ul class="list-group">
        <% @user.invites.each do |invitation| %>
          <% unless invitation.status %>
              <li class="list-group-item d-flex flex-column">
                <span class="card-text">Invitation by: <%= User.find(invitation.user_id).email %></span>
                <span class="card-text">Event: <%= Event.find(invitation.event_id).title %></span>
              <%= button_to 'Accept', accept_invitation_path(invitation.id), method: :put, class: 'btn btn-outline-primary mt-2' %>
            </li>
            <% end %>
        <% end %>
      </ul>
    </article>
</section>
