<section class="pb-5 border-1 border-bottom">
<%= render partial: 'shared/header' %>
  <% if flash[:notice] %>
    <p class="alert alert-primary" role="alert"><%= notice %></p>
  <% end %>

  <% if flash[:alert] %>
    <p class="alert alert-warning" role="alert"><%= alert %></p>
  <% end %>
  <div class="container">
    <section class="row">
        <article class="col-9 d-flex flex-column align-items-center flex-start-origin">
          <div>
            <h1 class="display-2 fw-bold">Fastent</h1>
            <h3 class="text-muted fw-normal">Making your events with a smile, because it's easy, lightweight and very intuitive for you make great events without headache.</h3>
            <div class="mt-4">
              <%= link_to '↳ Sign up now!', new_user_registration_path, class: 'fw-bold btn btn-primary large btn-lg px-4' %>
              <%= link_to 'Log in', new_user_session_path, class: 'btn btn-link btn-lg' %>
            </div>
          </div>
        </article>
      </div>
    </section>
  </div>

  <section class="container mt-5">
    <div class="row mb-5 pb-4 d-flex align-items-center">
      <article class="col-4 gap-2 d-flex justify-content-center align-items-center">
        <div>
          <h2>Fast 🚀</h2>
          <h5 class="text-muted">It's really fast and lightweight.</h5>
        </div>
      </article>
      <article class="col-4 gap-2 d-flex justify-content-center align-items-center">
        <div>
          <h2>Fast 🚀</h2>
          <h5 class="text-muted">It's really fast and lightweight.</h5>
        </div>
      </article>
      <article class="col-4 gap-2 d-flex justify-content-center align-items-center">
        <div>
          <h2>Fast 🚀</h2>
          <h5 class="text-muted">It's really fast and lightweight.</h5>
        </div>
      </article>
    </div>

    <div class="row d-flex align-items-center">
      <article class="col-4 gap-2 d-flex justify-content-center align-items-center">
        <div>
          <h2>Fast 🚀</h2>
          <h5 class="text-muted">It's really fast and lightweight.</h5>
        </div>
      </article>
      <article class="col-4 gap-2 d-flex justify-content-center align-items-center">
        <div>
          <h2>Fast 🚀</h2>
          <h5 class="text-muted">It's really fast and lightweight.</h5>
        </div>
      </article>
      <article class="col-4 gap-2 d-flex justify-content-center align-items-center">
        <div>
          <h2>Fast 🚀</h2>
          <h5 class="text-muted">It's really fast and lightweight.</h5>
        </div>
      </article>
    </div>
  </section>
</section>
