<section class="container">
  <div class="row">
    <article class="col">
      <% Event.future.each do |event| %>
        <div class="card my-2">
          <div class="card-body">
            Creator: <b class="card-title"><%= event.creator.email %></b><br/>
            <span class="card-text">Event: <%= event.title %></span><br/>
            It will occur in: <b><%= event.date_time %></b>
            <% if EventAttendance.exists?(attendee_id: current_user.id, attendeed_event_id: event.id) %>
              <div class="d-flex">
                <%= button_to 'Cancel', unattend_event_path(event), class: 'btn btn-danger px-4', method: :delete %>
                <%= link_to 'Show', event_path(event), class: 'btn btn-link' %>
              </div>
            <% elsif event.creator_id == current_user.id %>
              <div class="d-flex">
                <%= link_to 'Show', event_path(event), class: 'py-2 btn-link' %>
              </div>
            <% else %>
              <div class="d-flex">
                <%= button_to 'Get in', event_attendances_path(event), method: :post, class: 'btn btn-primary px-4' %>
                <%= link_to 'Show', event_path(event), class: 'btn btn-link' %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% Event.past.each do |event| %>
        <div class="card my-2">
          <div class="card-body">
            Creator: <b class="card-title text-decoration-line-through"><%= event.creator.email %></b><br/>
            <span class="card-text text-decoration-line-through">Event: <%= event.title %></span><br/>
            It will occur in: <b class="text-decoration-line-through"><%= event.date_time %></b>
          </div>
        </div>
      <% end %>
    </article>
  </div>
</section>
