<%= render partial: 'shared/header' %>
<section class="container">
  <div class="row">
    <article class="col">
      <% Event.future.each do |event| %>
        <div class="card my-2">
          <div class="card-header"><%= event.date_time.strftime("%d/%m/%Y - %I:%M %p") %></div>
          <div class="card-body">
            <h5 class="card-title"><%= event.title %></h5>
            <p class="card-text"><%= event.description %></p>
            <% if event.creator_id == current_user.id %>
              By: <b class="card-text">You</b><br/>
            <% else %>
              By: <b class="card-text"><%= event.creator.email %></b><br/>
            <% end %>

            <% if EventAttendance.exists?(attendee_id: current_user.id, attendeed_event_id: event.id) %>
              <div class="d-flex my-2">
                <%= button_to 'Cancel', unattend_event_path(event), class: 'btn btn-danger px-5', method: :delete %>
                <%= link_to 'ðŸ‘ Show', event_path(event), class: 'text-decoration-none py-2 btn btn-link' %>
              </div>
            <% elsif event.creator_id == current_user.id %>
              <div class="d-flex">
                <%= link_to 'ðŸ‘ Show', event_path(event), class: 'text-decoration-none py-2 btn-link' %>
              </div>
            <% else %>
              <div class="d-flex my-2">
                <%= button_to 'Get in', event_attendances_path(event), method: :post, class: 'px-5 btn btn-primary px-4' %>
                <%= link_to 'ðŸ‘ Show', event_path(event), class: 'text-decoration-none py-2 btn btn-link' %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% Event.past.each do |event| %>
        <div class="card my-2">
          <div class="card-body">

            <% if event.creator_id == current_user.id %>
              Creator: <b class="card-title text-decoration-line-through">You</b><br/>
            <% else %>
              Creator: <b class="card-title text-decoration-line-through"><%= event.creator.email %></b><br/>
            <% end %>

            <span class="card-text text-decoration-line-through">Event: <%= event.title %></span><br/>
            It will occur in: <b class="text-decoration-line-through"><%= event.date_time %></b>
          </div>
        </div>
      <% end %>
    </article>
  </div>
</section>
