<%= render partial: 'shared/header' %>
<section class="container">
  <article class="row">
    <div class="col">
      <div class="card">
          <div class="card-header"><%= @event.date_time.strftime("%d/%m/%Y - %I:%M %p") %> <%= link_to 'Edit it', edit_event_path(@event), class: 'btn-link' %></div>
          <div class="card-body">
          <h3 class="card-title"><%= @event.title %></h3>
          <p class="card-text"><%= @event.creator.email %></p>

          <p class="card-text fs-6"><%= @event.description %></p>
          <ul class="list-group">
            Event Attendees:
            <% @event.attendees.each do |attendee| %>
              <%= link_to attendee.email, user_path(attendee), class: "list-group-item" %>
            <% end %>
          </ul>

        </div>
      </div>

    <article class="border p-2 mt-4 d-flex flex-column gap-2">
      <span>Invite some users.</span>
      <% @users.each do |user| %>
        <% next if @event.creator_id == user.id || current_user.id == user.id %>
        <% next if EventAttendance.where(attendee_id: user.id, attendeed_event_id: @event.id).exists? %>

        <% unless Invitation.where(user_id: @event.creator_id, receiver_id: user.id, event_id: @event.id, status: false).exists? %>
          <div class="p-2 border justify-content-between d-flex">
            <span><%= user.email %></span>
            <%= button_to 'Invite', invite_user_event_path(@event.id, user.id), style: 'border: none; background-color: white;', class: 'btn-link' %>
          </div>
        <% end %>
      <% end %>
    </article>
    </div>
  </article>
</section>
