<!DOCTYPE html>
<html>
  <head>
    <title>Fastent</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color: #f8f9fa;" class="d-flex flex-column min-vh-100">
    <article class="container">

    </article>
    <% if flash[:notice] %>
      <p class="alert alert-primary" role="alert"><%= notice %></p>
    <% end %>

    <% if flash[:alert] %>
      <p class="alert alert-warning" role="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
